.right{
    float: right;
}

.swal2-styled.swal2-confirm{
    background-color: #389466 !important;
}
i.fa.fa-plus-circle {
    font-size: 176px;
    cursor: pointer;
}

div.desc {   
    height: 100px;
    overflow-y: hidden;
  }
  div.desc:hover{
    overflow-y: scroll;
  }
.detail{

    font-size: 12px;
}
.text-center {
    text-align: center;   
    width: 100%;
}
.right{
    float: right;
}
.btn{margin-top: 5px ;}
