.right{
    float: right;
}

.swal2-styled.swal2-confirm{
    background-color: #389466 !important;
}
i.fa.fa-plus-circle {
    font-size: 176px;
    cursor: pointer;
}

.text-center {
    text-align: center;   
    width: 100%;
}
.ml{margin-left: 8px}